* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--gutter: 30px;
	--side-small: 26;
	--side-big: 36;
	--depth: 4000px;
	--transition: .75s cubic-bezier(.075, .5, 0, 1)
}

/* Скрываем Scrollbar */
body {
	scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar { 
	display: none; /* Safari and Chrome */
}

@font-face {
	font-family: raleway_c;
	src: url(../fonts/raleway-v22-cyrillic-300.woff2);
	font-weight: 300;
}
@font-face {
	font-family: raleway_c;
	src: url(../fonts/raleway-v22-cyrillic-100.woff2);
	font-weight: 100;
}
body {
	background-color: #000;
	color: #fff;
	font-size: calc(var(--index) * .8);
	font-family: raleway_c, sans-serif;
	line-height: 1.75;
	height: var(--depth);
	font-weight: 300;
}
.container {
	width: 100%;
	height: 100%;
	position: fixed;
	perspective: 1500px;
}
.gallery {
	transform-style: preserve-3d;
	height: 100%;
}
.frame {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--transition), opacity .75s ease;
	will-change: transform;
	transform-style: preserve-3d;
}
h1, h2, h3, h4 {
	font-weight: 100;
	text-transform: uppercase;
	width: min-content;
	line-height: 1;
}
.frame h2 {
	text-align: center;
	font-size: calc(var(--index) * 3.3);
}
.frame-media {
	position: relative;
	width: calc(var(--index) * var(--side-small));
	height: calc(var(--index) * var(--side-big));
	background-position: center;
	background-size: cover;
}
.frame-media_left {
	right: calc(var(--side-small) / 2 * var(--index) + var(--gutter));
}
.frame-media_right {
	left: calc(var(--side-small) / 2 * var(--index) + var(--gutter));
}
.frame_bg {
	background-color: rgb(0 0 0 / .87);
}
video.frame-media {
	width: calc(var(--index) * var(--side-big));
	height: calc(var(--index) * var(--side-small));
}
video.frame-media_right {
	left: calc(var(--side-big) / 2 * var(--index) + var(--gutter));
}
video.frame-media_left {
	right: calc(var(--side-big) / 2 * var(--index) + var(--gutter));
}
.text-right > * {
	position: relative;
	left: 18vw;
}
.text-left > * {
	position: relative;
	right: 18vw;
}
.frame h3 {
	font-size: calc(var(--index) * 3);
}
.frame p {
	max-width: 30vw;
	margin-top: 3vh;
}
.soundbutton {
	position: fixed;
	bottom: 5vh;
	right: 5vw;
	cursor: pointer;
	width: 24px;
	transition: .25s ease;
}
.soundbutton.paused {
	opacity: .25;
}

.focus{
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 999;
}

.title-3{
	justify-content: flex-start; 
	padding-left: 140px;
}
.image-4{
	justify-content: flex-end;
}
.scroll-up{
	position: absolute;
	right: 50px;
	bottom: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 10px;
	transform: rotate(90deg);
	letter-spacing: 1px;
	font-size: 20px;
	animation: up linear infinite 1s;
}
.scroll-up svg{
	fill: #fafafa;	
}
@keyframes up{
	50%{
		bottom: 220px;
	}
	100%{
		bottom: 200px;
	}
}
.bg-opacity{
	background-color: rgb(0,0,0,.5);
}
.bg-opacity-strong{
	background-color: rgb(0,0,0,.7);
	opacity: 1;
}
.contact-tel{
	display: block;
	color: aquamarine;
	text-decoration: none;
}

@media(max-width:400px){
	.title-3{
		padding-left: 40px;
	}
	.scroll-up{
		bottom: 100px;
		right: -10px;
	}
	@keyframes up{
		50%{
			bottom: 120px;
		}
		100%{
			bottom: 100px;
		}
	}
	.w-115{
		width: 115%;
	}
	ul{
		width: 90%;
	}
	ul li{
		opacity: 1;
		font-size: 16px;
	}
	.last-text{
		max-width: 50%;
		z-index: 100;
	}
}