* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--gutter: 30px;
	--side-small: 26;
	--side-big: 36;
	--depth: 5500px;
	--transition: .75s cubic-bezier(.075, .5, 0, 1)
}

/* Скрываем Scrollbar */
body {
	scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar { 
	display: none; /* Safari and Chrome */
}
a{
	text-decoration: none;
}

@font-face {
	font-family: raleway_c;
	src: url(../fonts/raleway-v22-cyrillic-300.woff2);
	font-weight: 300;
}
@font-face {
	font-family: raleway_c;
	src: url(../fonts/raleway-v22-cyrillic-100.woff2);
	font-weight: 100;
}
body {
	background-color: #000;
	color: #fff;
	font-size: calc(var(--index) * .8);
	font-family: raleway_c, sans-serif;
	line-height: 1.75;
	height: var(--depth);
	font-weight: 300;
}
.container {
	width: 100%;
	height: 100%;
	position: fixed;
	perspective: 1500px;
}
.gallery {
	transform-style: preserve-3d;
	height: 100%;
}
.frame {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--transition), opacity .75s ease;
	will-change: transform;
	transform-style: preserve-3d;
}
h1, h2, h3, h4 {
	font-weight: 100;
	text-transform: uppercase;
	width: min-content;
	line-height: 1;
}
.frame h2 {
	text-align: center;
	font-size: calc(var(--index) * 3.3);
}
.frame-media {
	position: relative;
	width: calc(var(--index) * var(--side-small));
	height: calc(var(--index) * var(--side-big));
	background-position: center;
	background-size: cover;
}
.frame-media_left {
	right: calc(var(--side-small) / 2 * var(--index) + var(--gutter));
}
.frame-media_right {
	left: calc(var(--side-small) / 2 * var(--index) + var(--gutter));
}
.frame_bg {
	background-color: rgb(0 0 0 / .87);
}
video.frame-media {
	width: calc(var(--index) * var(--side-big));
	height: calc(var(--index) * var(--side-small));
}
video.frame-media_right {
	left: calc(var(--side-big) / 2 * var(--index) + var(--gutter));
}
video.frame-media_left {
	right: calc(var(--side-big) / 2 * var(--index) + var(--gutter));
}
.text-right > * {
	position: relative;
	left: 18vw;
}
.text-left > * {
	position: relative;
	right: 18vw;
}
.frame h3 {
	font-size: calc(var(--index) * 3);
}
.frame p {
	max-width: 30vw;
	margin-top: 3vh;
}
.soundbutton {
	position: fixed;
	bottom: 5vh;
	right: 5vw;
	cursor: pointer;
	width: 24px;
	transition: .25s ease;
}
.soundbutton.paused {
	opacity: .25;
}

.focus{
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 999;
}

.title-3{
	justify-content: flex-start; 
	padding-left: 140px;
}
.image-4{
	justify-content: flex-end;
}
.scroll-up{
	position: absolute;
	right: 50px;
	bottom: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 10px;
	transform: rotate(90deg);
	letter-spacing: 1px;
	font-size: 20px;
	animation: up linear infinite 1s;
}
.scroll-up svg{
	fill: #fafafa;	
}
@keyframes up{
	50%{
		bottom: 220px;
	}
	100%{
		bottom: 200px;
	}
}
.bg-opacity{
	background-color: rgb(0,0,0,.5);
}
.bg-opacity-strong{
	background-color: rgb(0,0,0,.7);
	opacity: 1;
}
.contact-tel{
	display: block;
	color: aquamarine;
	text-decoration: none;
	z-index: 1000;
	position: relative;
}
.lh-400{
	line-height: 90px;
}
.logo{
	position: fixed;
	top: 20px;
	left: 20px;
	z-index:1000;
	display: flex;
	border: 1px solid #fafafa;
	align-items: center;
	justify-content: center;
	width: 152px;
	height: 52px;
}

.logo div{
	width: 75px;
	height: 50px;
	position: relative;
	background-color: #fafafa;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.logo div:last-child{
	background-color: #111111;
}
.logo div span{
	font-size: 8px;
	display: block;
	font-weight: 900;
	margin-top: 2px;
	width: 100%;
	text-align: center;
	color: #fafafa;
	font-weight: 900;
	text-transform: uppercase;
}
.logo div:first-child p,
.logo div:first-child span
{
	color: #111111;
	
}
.logo div p{
	font-size: 14px;
	color: #fafafa;
	font-weight: 700;
	font-weight: 900;
	text-transform: uppercase;
}

.last-text{
	z-index: 100;
	max-width: 65% !important;
}


.last_form{
	height: 100%;
	width: 100%;
	z-index: 1000;
	position: relative;
}
.last_form .frame__content{
	text-align: center;
}
.last_form .frame__content h1{
	text-align: center;
	margin-top: 20px;
	width: 100%;
	font-weight: 600;
	font-size: 22px;
}
.last_form .frame__content p{
	text-align: center;
	margin-top: 20px;
	width: 100%;
	display: block;
	width: 100%;
	font-size: 18px;
	max-width: 100%;
}
.last_form .frame__content p span{
	text-align: center;
	width: 100%;
	display: block;
	width: 100%;
	color: #fafafa;
}
.last_form form{
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	row-gap: 20px;
}

.last_form form input{
	height: 40px;
	width: 70%;
	padding: 0 15px;
	font-size: 16px;
	background-color: transparent;
	max-width: 750px;
	color: #fafafa;
	outline: none;
	transition: .5s;
	border: none;
	border-bottom: 2px solid #075E54;
}
/* .last_form form input:last-child{
	width: 50%;
} */
.last_form form input:focus{
	transition: .5s;
	width: 100%;
}
.last_form form button{
	transition: .5s;
	height: 40px;
	border-radius: 24px;
	color: #fafafa;
	background-color:#075E54;
	border: none;
	outline: none;
	font-size: 18px;
	cursor: pointer;
}

.last_form form button:hover{
	transition: .5s;
	background-color: #24A1DE;
	transform: translateY(-5px);
}

.form-footer{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	column-gap: 20px;
}
.form-footer-link{
	width: 50px;
	height: 50px;
	border: 1px solid rgb(255, 94, 0);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: .5s;
}
.form-footer-link:first-child{
	border-color: #075E54;
}
.form-footer-link:first-child:hover{
	transition: .5s;
	background-color: #075E54;
}
.form-footer-link:first-child:hover svg{ 
	fill: #fafafa;
	transition: .5s;
}
.form-footer-link:nth-child(2){
	border-color: #24A1DE;
}
.form-footer-link:nth-child(2):hover{
	background-color: #24A1DE;
	transition: .5s;
}
.form-footer-link:nth-child(2):hover svg{
	fill: #fafafa;
	transition: .5s;
}
.email{
	border: none;
	position: relative;
	transition: .5s;
	/* z-index: 1000; */
}
/* .email::before{
	content: "d.alfadiesel@yandex.ru";
	transition: .5s;
	position: absolute;
	top: -10px;
	right: -750%;
	font-weight: 900;
	padding: 0px 10px;
	color: #000;
	background-color: #fafafa;
	border-radius: 20px;
	opacity: 1;
	display: none;
} */
/* .email:hover::before{
	transition: .5s;
	opacity: 1;
	right: -650%;

	display: block;
} */

.email{
	
	margin: 20px 0;
}
.email a{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fafafa;
	transition: .5s;
}
.email a:hover,.email a:hover svg{
	transition: .5s;
	color: #ff2400;
	fill: #ff2400;
}
.email a svg{
	margin-right: 10px;
	transition: .5s;
}
.footer-bottom-tel{
	display: flex;
	align-items: center;

}
.footer-bottom-tel a{
	color: red;
	margin-left: 5px;
	transition: .5s;
	position: relative;
}
.footer-bottom-tel a::before{
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	height: 1px;
	background-color: red;
	width: 0%;
	transition: .5s;
}
.footer-bottom-tel a:hover::before{
	transition: .5s;
	width: 100%;
}
.cr{
	color: #ff2400 !important;
}
.fw{
	font-weight: 900;
}
/* медиа */

@media(max-width:500px){
	/* .logo img{
		max-width: 50px;
	} */
}
@media(max-width:400px){
	.title-3{
		padding-left: 40px;
	}
	.scroll-up{
		bottom: 100px;
		right: -10px;
	}
	@keyframes up{
		50%{
			bottom: 120px;
		}
		100%{
			bottom: 100px;
		}
	}
	.w-115{
		width: 115%;
	}
	ul{
		width: 90%;
	}
	ul li{
		opacity: 1;
		font-size: 16px;
	}
	/* .last-text{
		max-width: 50% !important;
	} */
	.mw-400-none{
		display: none;
	}
	.lh-400{
		line-height: 60px !important;
	}

	.last_form .frame__content h1{
		font-size: 18px;
	}
	.last_form .frame__content p{
		font-size: 14px;
	}
}